html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

/* сбросить все стили списков, ненужные отступы, маркеры */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  cursor: pointer;
  outline: none;
}

:root {
  --blue-color: #3F2AFF;
  --white-color: #FFFFFF;
  --black-color: #2E2B44;
  --dark-grey-color: #666666;
  --dark-color: #212133;
  --grey-color: #85859B;
  --light-grey-color: #EDF0F9;
}

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* header*/
.header {
  background-color: var(--blue-color);
}

.header__btn-open,
.header__btn-close {
  display: none;
}

.header__box {
  padding-top: 2.3%;
  padding-bottom: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-list__item:not(:last-child) {
  margin-right: 56px;
}

.header__link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition-property: color, outline-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

/*  */
.header__link:focus-visible {
  outline-color: var(--white-color);
}

.header__link:hover:not(:focus-visible) {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.header__link:hover:not(:focus-visible):before {
  opacity: 1;
  transform: scale(1);
}

.header__link:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  height: 2px;
  background-color: var(--white-color);
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, transform, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.header__link:active:not(:focus-visible) {
  color: var(--white-color);
}

.header__link:active:not(:focus-visible):before {
  background-color: var(--white-color);
}

.about__item {
  flex-direction: column;
}

.header__logo:focus {
  outline: 2px solid var(--white-color);
  outline-offset: 5px;
}

@media (max-width: 993px) and (min-width: 768px) {
  .header__box {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .header__box {
    padding-top: 6%;
    padding-bottom: 6%;
    flex-direction: column;
  }

  .header__logo {
    margin-bottom: 5%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .header__box {
    padding-top: 9.3%;
    padding-bottom: 9.1%;
    position: relative;
  }

  .header__menu {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    min-height: 433px;
    display: flex;
    background-color: #2F2C45;
    justify-content: space-between;
    min-width: 320px;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header__menu.active {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    z-index: 20;
  }

  .header__list {
    padding-top: 75px;
    padding-left: 5%;
    flex-direction: column;
  }

  .header-list__item:not(:last-child) {
    margin-bottom: 29.9%;
  }

  .header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--white-color);
  }

  .header__link:focus-visible {
    outline: 2px solid var(--white-color);
    outline-offset: 4px;
  }

  .header__btn-open,
  .header__btn-close {
    display: block;
  }

  .header__btn-open,
  .header__btn-close {
    transition: opacity 0.3s ease-in-out;
  }

  .header__btn-open:active .btn__open {
    opacity: 0;
  }

  .header__btn-open:active .header__btn-close {
    opacity: 1;
  }

  .header__btn-close {
    margin-right: 5%;
    padding-top: 7%;
    width: 30px;
    height: 30px;
    align-self: flex-start;
  }

  .header__btn-open:focus-visible,
  .header__btn-close:focus-visible {
    outline: 2px solid var(--white-color);
    outline-offset: 2px;
  }
}

/* hero */
.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__box {
  position: relative;
  padding-top: 130px;
  padding-bottom: 132px;
}

.hero__box:after {
  position: absolute;
  content: "";
  right: 1.4%;
  top: 2.5%;
  bottom: 3.5%;
  height: 95%;
  width: 75%;
  background-image: url(../img/hero.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white-color);
}

.hero__text {
  margin-bottom: 13.4%;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-color);
}

.hero__btn {
  padding: 24px 75.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 20px;
}

@media (max-width: 993px) and (min-width: 768px) {
  .hero__box {
    padding-bottom: 17.5%;
  }

  .hero__title {
    margin-bottom: 4%;
    font-size: 50px;
    line-height: 100%;
  }

  .hero__box:after {
    right: 1.8%;
    top: 13%;
    height: 70%;
    width: 46%;
    background-image: url(../img/hero768.png);
  }

  .hero__text {
    margin-bottom: 16%;
    padding-right: 10%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .hero__box {
    padding-top: 12.7%;
    padding-bottom: 23.5%;
  }

  .hero__title {
    margin-bottom: 4.5%;
    font-size: 50px;
    line-height: 100%;
  }

  .hero__box:after {
    width: 0;
    height: 0;
  }

  .hero__text {
    margin-bottom: 18%;
    padding-right: 10%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .hero__box {
    padding-top: 15.5%;
    padding-bottom: 16.5%;
  }

  .hero__box:after {
    width: 0;
    height: 0;
  }

  .hero__title {
    margin-bottom: 2.5%;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
  }

  .hero__text {
    margin-bottom: 14.5%;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 7% 19%;
    font-size: 16px;
    line-height: 19px;
  }
}

/* about */
.about {
  background-color: var(--white-color);
}

.about__list {
  justify-items: center;
}

.about__box {
  padding-top: 4.2%;
  padding-bottom: 4.75%;
}

.about__box1 {
  position: relative;
  padding-left: 17.1%;
  margin-bottom: 1.7%;
}

.about__title {
  margin-bottom: 5.3%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--black-color);
}

.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-grey-color);
}

.about__box1::before {
  position: absolute;
  content: "";
  width: 72%;
  height: 72%;
  left: 0;
  top: 11%;
  background-image: url("../img/about.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.about__list {
  display: flex;
}

.about__item-text {
  padding-left: 31.4%;
  padding-top: 3.9%;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark-grey-color);
}

.about__item {
  position: relative;
}

.about__item:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.about__card1:before {
  background-image: url("../img/eye-circle.svg");
}

.about__card2:before {
  background-image: url("../img/fingers.svg");
}

.about__card3:before {
  background-image: url("../img/voice.svg");
}

@media (max-width: 993px) and (min-width: 768px) {
  .about__box {
    padding-top: 11%;
    padding-bottom: 9.8%;
  }

  .about__box1 {
    padding-left: 35%;
    margin-bottom: 2.3%;
  }

  .about__box1::before {
    width: 77%;
    height: 77%;
  }

  .about__title {
    margin-bottom: 4%;
  }

  .about__item:before {
    background-position: top;
  }

  .about__item-text {
    padding-left: 0;
    padding-top: 45%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .about__box {
    padding-bottom: 9.6%;
  }

  .about__box1 {
    padding-left: 35%;
    padding-top: 11%;
    margin-bottom: 4.5%;
  }

  .about__box1::before {
    width: 35%;
    height: 35%;
    top: 15%;
  }

  .about__item-text {
    padding-left: 0;
    padding-top: 60%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .about__box {
    padding-top: 15.5%;
    padding-bottom: 8.8%;
  }

  .about__box1 {
    margin-bottom: 4.9%;
    padding-left: 1.1%;
  }

  .about__title {
    margin-bottom: 1%;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
  }

  .about__box1::before {
    width: 0;
    height: 0;
  }

  .about__list {
    flex-direction: column;
  }

  .about__item {
    margin-bottom: 7.5%;
  }

  .about__item:before {
    top: 8%;
  }

  .about__item-text {
    padding-left: 38%;
  }
}

/* teachers */
.teachers {
  background-color: var(--dark-color);
}

.teachers__box {
  padding-top: 4%;
  padding-bottom: 3.85%;
}

.teachers__title {
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--white-color);
}

.teachers__name {
  padding-top: 11%;
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-color);
}

.teachers__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--grey-color);
}

@media (max-width: 993px) and (min-width: 768px) {
  .teachers__box {
    padding-top: 10%;
    padding-bottom: 3.7%;
  }

  .teachers__title {
    margin-bottom: 3%;
  }

  .teachers__name {
    padding-top: 9%
  }

  .teachers__item {
    margin-bottom: 6%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .teachers__box {
    padding-top: 13%;
    padding-bottom: 9.3%;
  }

  .teachers__title {
    margin-bottom: 4.5%;
  }

  .teachers__item {
    margin-bottom: 8%;
  }

  .teachers__name {
    padding-top: 11%;
    margin-bottom: 4%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .teachers__box {
    padding-top: 13.5%;
    padding-bottom: 7%;
  }

  .teachers__title {
    margin-bottom: 10%;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
  }

  .teachers__item {
    margin-bottom: 7.8%;
  }

  .teachers__name {
    padding-top: 10%;
  }
}

/* courses */
.courses {
  padding-top: 4%;
  padding-bottom: 2.6%;
}

.courses__title {
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-color);
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
}

.courses__item {
  margin-bottom: 5.5%;
  position: relative;
  background-color: var(--light-grey-color);
  border-radius: 20px;
}

.courses__hour {
  position: absolute;
  display: flex;
  padding-top: 13px;
  right: 5px;
  justify-content: flex-end;
}

.courses__item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 180px;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.courses1::before {
  background-image: url("../img/courses1.jpg");
}

.courses2::before {
  background-image: url("../img/courses2.jpg");
}

.courses3::before {
  background-image: url("../img/courses3.jpg");
}

.courses4::before {
  background-image: url("../img/courses4.jpg");
}

.courses__content {
  padding-left: 5.4%;
  padding-right: 5.1%;
  padding-top: 39%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.courses__content-text {
  margin-bottom: auto;
}

.courses__name {
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-color);
}

.courses__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-grey-color);
}

.courses__btn {
  padding: 20px 59px;
  width: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 20px;
}

.courses__content-btn {
  margin-bottom: 6%;
}

@media (max-width: 992px) and (min-width: 768px) {
  .courses {
    padding-top: 10%;
    padding-bottom: 6.5%;
  }

  .courses__title {
    margin-bottom: 3%;
  }

  .courses__hour {
    padding-top: 11px;
    right: 7px;
  }

  .courses1::before {
    background-image: url("../img/courses1_768.jpg");
  }

  .courses2::before {
    background-image: url("../img/courses2_768.jpg");
  }

  .courses3::before {
    background-image: url("../img/courses3_768.jpg");
  }

  .courses4::before {
    background-image: url("../img/courses4_768.jpg");
  }

  .courses__content {
    padding-left: 9%;
    padding-top: 65%;
    min-height: 555px;
  }

  .courses__name {
    margin-bottom: 2.2%;
  }

  .courses__btn {
    padding: 7.5% 19.5%;
    width: auto;
  }

  .courses__content-btn {
    margin-bottom: 10%;
  }

  .courses__item {
    margin-bottom: 9.5%;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .courses {
    padding-top: 13%;
    padding-bottom: 5.7%;
  }

  .courses__title {
    margin-bottom: 4.3%;
  }

  .courses__hour {
    padding-top: 11px;
    right: 8px;
  }

  .courses1::before {
    background-image: url("../img/courses1_576.jpg");
  }

  .courses2::before {
    background-image: url("../img/courses2_576.jpg");
  }

  .courses3::before {
    background-image: url("../img/courses3_576.jpg");
  }

  .courses4::before {
    background-image: url("../img/courses4_576.jpg");
  }

  .courses__content {
    padding-left: 13.5%;
    padding-right: 9.5%;
    padding-top: 88%;
    padding-bottom: 9%;
    min-height: 653px;
  }

  .courses__btn {
    padding: 11% 25%
  }

  .courses__item {
    margin-bottom: 13%;
  }

  .courses__text {
    padding-right: 2%;
  }

  .courses__content-btn {
    margin-bottom: 4%;
  }

  .courses__name {
    margin-bottom: 5%;
    line-height: 130%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .courses {
    padding-top: 14%;
    padding-bottom: 6.6%;
  }

  .courses__title {
    margin-bottom: 9%;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
  }

  .courses1::before {
    background-image: url("../img/courses1_320.jpg");
  }

  .courses2::before {
    background-image: url("../img/courses2_320.jpg");
  }

  .courses3::before {
    background-image: url("../img/courses3_320.jpg");
  }

  .courses4::before {
    background-image: url("../img/courses4_320.jpg");
  }

  .courses__content {
    padding-left: 11%;
    padding-right: 9%;
    padding-top: 73%;
    padding-bottom: 5%;
    min-height: 653px;
  }

  .courses__name {
    margin-bottom: 4%;
    line-height: 130%;
  }

  .courses__btn {
    padding: 9% 23.5%;
  }

  .courses__item {
    margin-bottom: 10.3%;
  }

  .courses__content-btn {
    margin-bottom: 6%;
  }

  .courses__hour {
    padding-top: 11px;
    right: 8px;
  }
}

/* footer */
.footer__top {
  background-color: var(--black-color);
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.6%;
  padding-bottom: 1.2%;
}

.footer__item:not(:last-child) {
  margin-right: 31px;
}

.footer__item:hover path {
  outline: none;
  fill: var(--grey-color);
}

.footer__item:active path {
  outline: none;
  fill: var(--blue-color);
}

.footer__bottom {
  padding-top: 0.1%;
}

.footer__bottom-text {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--black-color);
}

.design {
  color: var(--blue-color);
}

@media (max-width: 992px) and (min-width: 768px) {
  .footer__list {
    padding-top: 3.5%;
    padding-bottom: 3.2%;
  }

  .footer__bottom {
    padding-top: 0.3%;
    /* padding-bottom: 0.1%; */
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .footer__list {
    padding-top: 4.6%;
    padding-bottom: 4.4%;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .footer__list {
    padding-top: 9%;
    padding-bottom: 7.1%;
  }
}

.hero__btn:focus-visible,
.courses__btn:focus-visible {
  background-color: var(--white-color);
  color: var(--blue-color);
  /* outline: none; */
  border: 2px solid var(--blue-color);
}

.hero__btn:hover,
.courses__btn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
  outline: 2px solid var(--blue-color);
}
